@page "{id:int?}"
@model IndexModel

@functions {
    async Task RenderFolders(int parentId)
    {
        var folders = Model.Folders.Where(f => f.ParentId == parentId).ToList();

        if (folders.Any())
        {
            <ul>
                    @foreach (var childFolder in Model.ChildFolders)
                    {
                    <li>
                        <a href="/Index?id=@childFolder.Id">@childFolder.Name</a>
                    </li>
                }
            </ul>
        }
    }
}

@if (Model.Folder != null)
{
    <h1>"Folder" - @Model.Folder.Name</h1>
    await RenderFolders(Model.Folder.Id);
}
else
{
    <p> No folder found. </p>
}

<h2>Select file to upload</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="fileInput">Select a Text File:</label>
        <input type="file" class="form-control-file" id="fileInput" name="fileInput" accept=".txt">
    </div>
    <button type="submit" class="btn btn-primary">Upload File</button>
</form>




