@page "{id:int?}"
@model IndexModel

@functions {
    async Task RenderFolders(int parentId)
    {
        var folders = Model.Folders.Where(f => f.ParentId == parentId).ToList();

        if (folders.Any())
        {
            <ul>
                    @foreach (var childFolder in Model.ChildFolders)
                    {
                    <li>
                        <a href="/Index?id=@childFolder.Id">@childFolder.Name</a>
                    </li>
                }
            </ul>
        }
    }
}

@if (Model.Folder != null)
{
    <h1>"Folder" - @Model.Folder.Name </h1>
    await RenderFolders(Model.Folder.Id);
}
else
{
    @Model.Message
}





